.container{
    width: 90%;
    margin: auto;
}

h1{
  width: 100%;
  margin-bottom: 2rem;
}

button{
  width: 100%;
}

#btnewTec{
  margin: 1rem 0;
}

table {
    width: 100%;
  }

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 23%;
}

.edit{
  color: rgb(8,131,195,1);
  margin: 0 5px 0 0
}
.delete{
  color: red;
}