<mat-card class="card mat-elevation-z8">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Central de ajuda</mat-card-title>
      <mat-card-subtitle>Apenas um dev</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/home-image.svg" alt="Imagem da Central de ajuda">
    <mat-card-content>
      <p>
        Olá! Bem vindo a Central de ajuda! Um projeto feito para auxiliar chamados técnicos.
      </p>
      
    </mat-card-content>
  </mat-card>
  